# Report on Test Cases #
Ran the following 7 tests:
- test adding a task 
- test deleting a task
- test viewing the tasks 
- test the completion marker of a task 
- test initilazation of a task
- test str method 
- test setters
